body {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.card {
	width: 20%;
	margin: 10px;
	background: #ccc;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	display: inline-block;
}

.main-image img {
	width: 100%;
}

.content,
.category {
	padding: 20px 15px;
}

.category {
	color: #494949;
}